.formcontrol {
    margin: 1rem 0;
  }
  
  .formcontrol label,
  .formcontrol input,
  .formcontrol textarea {
    display: block;
  }
  
  .formcontrol label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .formcontrol input,
  .formcontrol textarea {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
  }
  
  .formcontrol input:focus,
  .formcontrol textarea:focus {
    outline: none;
    background: #ebebeb;
    border-color: #510077;
  }
  
  .formcontrolinvalid label,
  .formcontrolinvalid p {
    color: red;
  }
  
  .formcontrolinvalid input,
  .formcontrolinvalid textarea {
    border-color: red;
    background: #ffd1d1;
}